@tailwind components;
@tailwind utilities;

:root {
	--text: #dadada;
	--background: #121416;
	--accent: #664dc0;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	margin: 0;
	padding: 0;
	background-size: 100% 600px;
	background: var(--background);
	color: var(--text);
	font-family: 'Inter', sans-serif;
	/* Use flexbox for adaptive UI */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	max-width: 100%;
	margin-left: 1.0rem;
	margin-right: 1.2rem;
	max-width: 380px;
	padding: 0px;
	padding-bottom: 1rem;
}
.normal-page {
	width: 100%;
	max-width: 400px !important;
}
.normal-page p>br {
	margin-bottom: 0.5rem;
}
.normal-page a {
	text-decoration: underline;
	text-decoration-color: gray;
}

.prose>h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}
h1 {
	font-size: 2.2rem;
	font-weight: 700;
}
h2 {
	font-size: 1.8rem;
	font-weight: 700;
}
h3 {
	font-size: 1.6rem;
	font-weight: 700;
}
h4, h5, h6 {
	font-size: 1.4rem;
	font-weight: 700;
}
sup a {
	padding-left: 2px;
	color: var(--text) !important;
}
strong,
b {
	font-weight: 700;
}
p {
	margin-bottom: 1rem;
}
.data {
	font-weight: 600;
	color: #888;
	font-size: 13px;
}

.prose {
	font-family: 'Atkinson', sans-serif;
	line-height: 1.4em;
	font-size: 18px;
}
.astro-code{
	background-color: #222225 !important;
	margin-bottom: 1em;
}
table {
	margin-bottom: 1em;
}
hr {
	border: 1px solid #333 !important;
	margin: 0px;
}
ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 1em;
}
ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 1em;
}
li {
	width: 100%;
}
ul>li>ul {
	margin-left: 1em;
}
mark {
	background-color: var(--accent);
}
textarea {
	width: 100%;
	font-size: 16px;
}
aside {
	margin-bottom: 1em;
	font-size: 16px;
	color: #888;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	border-radius: 3px;
	max-width: 100%;
}
.prose img {
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 50vh;
	/* align image center */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hero-image img {
	aspect-ratio: 16/9;
	object-fit: cover;
	height: 100%;
}
table, th, td {
	text-align: center;
	border: 2px solid #333;
}
th, td {
	padding: 0.5em;
	text-align: left;
}
table {
	width: 100%;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	padding: 0 30px 0 30px ;
	text-align: left;
	margin: 0px;
	color: #888;
}
blockquote p {
	border-left: 4px solid var(--accent);
	padding-left: 1em;
}
blockquote a {
	color: #888 !important;
}
.cap {
	/* style your captions here */
	margin-top: -10px !important;
	font-size: 16px;
	margin: 0px;
	color: #888;
	text-align: center;
}
iframe {
	aspect-ratio: 16/9;
	width: 100%;
	border: 0px;
}
.footnotes>ol>li {
	list-style-position: outside;
	margin-left: 2em;
	margin-right: 1em;
}
code {
	font-family: 'Fira Code', monospace;
	font-size: 14px;
	background-color: #2e2e2e;
	border-radius: 2px;
	padding: 2px 4px;
	margin-right: 4px;
	margin-left: 4px;
	position: relative;
	top: -1px;
}

/* Offsetting anchor to adjust for fixed header */
a[aria-describedby="footnote-label"]:target {
	padding-top: 50% !important;
}

a {
	color: var(--text);
	text-decoration: none;
}
a:hover {
	color: #888;
}
a .title:hover {
	color: #888;
}

.prose a {
	text-decoration: underline;
	text-decoration-color: gray;
}

main a:hover {
	color: #888;
}

h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before {
	display: block;
	content: " ";
	margin-top: -75px;
	height: 75px;
	visibility: hidden;
}

/* Screen Reader Compatiblity */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}