---
import Header from '../components/Header.astro';
import { SITE_TITLE} from '../consts';
import {Content as AboutContent} from '../../public/content/about.md';
import BaseHead from '../components/BaseHead.astro';
---
<!-- TODO: Make a cat button that makes a cat follow you on screen -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE}/>
    </head>
    <body>
        <Header />
        <main class="normal-page max-w-[380px]">
            <section>
                <h1>About</h1>
                <AboutContent />
            </section>
        </main>
    </body>
</html>
