---
import Header from '../components/Header.astro';
import { SITE_TITLE} from '../consts';
import BaseHead from '../components/BaseHead.astro';
import { Image } from 'astro:assets';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE}/>
    </head>
    <body>
        <Header />
        <main class="normal-page max-w-3xl">
            <section>
                <div class="flex justify-left items-end">
                    <h1>Portfolio</h1><h1 class="text-[#5F5F5F] pl-3"> / All</h1>
                </div>
                <img src="/portfolio/web1.png" alt="Web Design Portfolio" />
            </section>
        </main>
    </body>
</html>

<style>
    img {
		box-shadow: #111111aa 0px 0px 10px 3px;
		height: auto;
		border: 1px solid #333;
	}
</style>