---
import Header from '../components/Header.astro';
import { SITE_TITLE} from '../consts';
import BaseHead from '../components/BaseHead.astro';
import { Image } from 'astro:assets';
import web1 from "../../public/portfolio/web-1.png";
import app1 from "../../public/portfolio/app-1.png";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE}/>
    </head>
    <body>
        <Header />
        <main class="normal-page max-w-3xl">
            <section>
                <div class="flex justify-left items-end">
                    <h1>Portfolio</h1>
                </div>
                <Image src={web1} alt="A very cool website!" />
                <Image src={app1} alt="A very cool app!" />
            </section>
        </main>
    </body>
</html>

<style>
    img {
		box-shadow: #111111aa 0px 0px 10px 3px;
		height: auto;
		border: 1px solid #333;
	}
</style>