---
import Header from '../components/Header.astro';
import { SITE_TITLE} from '../consts';
import {Content as ResourcesContent} from '../../public/content/resources.md';
import BaseHead from '../components/BaseHead.astro';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE}/>

    </head>
    <body>
        <Header />
        <main class="normal-page">
            <h1>Resources</h1>
            <section>
                <ResourcesContent />
            </section>
        </main>
    </body>
</html>