---
import HeaderLink from './HeaderLink.astro';
---
<header>
	<nav>
		<div class="burger">
			<a><img src="/hamburger.svg" alt=""></a>
		</div>
		<div class="links pt-[2px]">
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="https://form.jotform.com/231973723081356">contact</HeaderLink>
			<HeaderLink href="/resources">resources</HeaderLink>
			<HeaderLink href="https://www.deviantart.com/f24816/gallery">gallery</HeaderLink>
		</div>
		<div class="title">
			<HeaderLink href="/" class="hover:text-[#f24816]">⋆°★ Andrei Valentin ★°⋆</HeaderLink>
		</div>
		<div class="icons-container pt-[2px]">
			<div class="icons">
				<a href="https://media.tenor.com/O5as23V0QaMAAAAC/baby-sun-teletubbies.gif"><img src="/light_mode.svg" alt=""></a>
				<a href="/rss.xml"><img src="/rss.svg" alt=""></a>
				<a href="https://www.instagram.com/f24816/" target="_blank"><img src="/insta.svg" alt=""></a>
			</div>
		</div>
	</nav>
</header>
<div class="burger-menu">
	<HeaderLink href="/about">about</HeaderLink><br>
	<HeaderLink href="https://form.jotform.com/231973723081356">contact</HeaderLink><br>
	<HeaderLink href="/resources">resources</HeaderLink><br>
	<HeaderLink href="https://www.youtube.com/@f24816">youtube</HeaderLink><br>
	<HeaderLink href="https://f24816.bandcamp.com">music</HeaderLink><br>
	<HeaderLink href="https://www.deviantart.com/f24816/gallery">gallery</HeaderLink><br>
	<HeaderLink href="https://www.instagram.com/f24816/">instagram</HeaderLink>
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

	header{
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		background: #0e0e0f;
		border-bottom: 1px solid #2e2e2e;
		overflow: auto;
	}
	nav {
		font-family: 'Inter', sans-serif;
		/* font-family: 'JetBrains Mono', monospace; */
		display: flex;
		font-weight: 500;
		/* align-content: center;
		align-items: center; */
		padding: 0.8rem 1.2rem;
	}
	.links {
		flex: 1;
		display: flex;
		justify-content: left;
		font-size: 14px;
	}
	.links a:not(:last-child) {
		margin-right: 1.5rem;
	}
	.title {
		flex: 1;
		display: flex;
		justify-content: center;
		font-weight: 700;
		font-size: 18px;
		white-space: nowrap;
		overflow: hidden;
	}
	.icons-container {
		flex: 1;
		display: flex;
		justify-content: right;
	}
	.icons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 10px;
	}
	.icons a {
		height: 18px;
	}
	.icons img {
		width: 18px;
		height: 18px;
	}
	.icons img:hover {
		cursor: pointer;
		filter: opacity(60%);
	}
	.burger img {
		width: 18px;
		height: 18px;
	}
	.burger img:hover {
		cursor: pointer;
		filter: opacity(60%);
	}
	.burger {
		display: none;
		position: absolute;
		top: 1rem;
	}
	@media (max-width: 1300px) {
		.icons-container {
			display: right;
			position: absolute;
			right: 1.2rem;
		}
		.title {
			justify-content: center;
		}
		.links {
			display: none;
		}
		.burger {
			display: block;
		}
	}

	@media (orientation: portrait) {
		.title {
			justify-content: center;
		}
		.links {
			display: none;
		}
		.icons-container {
			display: none;
		}
		.burger {
			display: block;
		}
	}
	.burger-menu {
		display: none;
		background: #1f1e25;

		position: fixed;
		top: 2rem;
		left: 0;
		z-index: 101;
		width: 100%;

		text-align: left;
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-left: 1.2rem;

		font-family: 'Inter', sans-serif;
		font-weight: 500;
		font-size: 14px;
		color: #888;
		line-height: 2.5;
		border-bottom: 1px solid #222;
	}


</style>
<script>
	// querry class burger
	const burger = document.querySelector(".burger")
	const menu: HTMLElement = document.querySelector(".burger-menu") as HTMLDivElement;
	if (burger) {
		// toggle burger menu display on click
		const burger = document.querySelector(".burger");
		const menu = document.querySelector(".burger-menu") as HTMLElement | null;
		if (burger && menu) {
			burger.addEventListener("click", () => {
				if (menu.style.display === "none" || !menu.style.display) {
					menu.style.display = "block";
				} else {
					menu.style.display = "none";
				}
			});
		}
	}

	// if i click ousite menu or burger and menu is open, close menu
	window.addEventListener('click', function(e){
	if (!menu!.contains(e.target as Element) && (!burger!.contains(e.target as Element))){
		menu!.style.display = "none";
	}
	});

	// hide menu on resize
	window.addEventListener('resize', function(e){
		if (window.innerWidth > 600) {
			menu!.style.display = "none";
		}
	});
</script>